* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(34, 146, 94, 0.541);
  
}
nav a {
  text-decoration:none;
}

.loja {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
}

.preco {
  color: #2ecc71;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 15px;
  background: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
  ;
}

.btn:hover {
  background: #217dbb;
}

/* =======================
   THEMES
======================= */
.light-theme {
  --bg: #f5f5f5;
  --text: #333;
  --card: #ffffff;
  --header: #111;
  --link: #007bff;
  --title: #ffffff;
}

.dark-theme {
  --bg: #121212;
  --text: #eaeaea;
  --card: #1e1e1e;
  --header: #000;
  --link: #4da3ff;
  --title: #ffffff;
}


/* =======================
   LINKS + HOVER
======================= */
a {
  color: var(--text);
  position: relative;
  transition: color 0.3s ease;
    text-decoration: none;
    ;

}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: var(--link);
  transition: width 0.3s ease;
}

a:hover {
  color: var(--link);
}

a:hover::after {
  width: 100%;
  
}

